
body{background-color: black;}
h1{
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;}

img{ border: 5px solid white;
    width: 50%;
    margin-left: 25%;
    margin-top: 70px
}
p{color: white;
text-align: center;
font-family: sans-serif;}
